@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
header {
  background-color: #5b9cd6;
  height: 200px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 4em;
  font-family: "Dosis", sans-serif;
  margin-bottom: 30px;
}
.summary-header,
.details-header,
.education-header,
.experience-header {
  font-size: 2em;
  color: grey;
}
.summary-content,
.education-content,
.experience-content {
  font-size: 18px;
}
.details-content {
  font-size: 18px;
  line-height: 14px;
}
.details,
.summary,
.education {
  margin-bottom: 40px;
}
.experience {
  margin-bottom: 60px;
}
footer {
  height: 60px;
  background-color: #5b9cd6;
  width: 100%;
}
@media screen and (max-width: 767px) {
  header{
    font-size: 3.5em;
    line-height: 60px;
  }
}